In [6]:
import pandas as pd
import numpy as np
sono = pd.read_csv(r"C:\Users\hanna\OneDrive\Área de Trabalho\WomakersCode\1KBtJf20QHGyrNOTEGeq_saude_do_sono_estilo_vida.csv")

In [7]:
sono.info()
sono.isna().sum() #não tem valor na

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         373 non-null    int64
 1   Gênero                     373 non-null    object
 2   Idade                      373 non-null    int64
 3   Ocupação                   373 non-null    object
 4   Duração do sono            373 non-null    float64
 5   Qualidade do sono          373 non-null    int64
 6   Nível de atividade física  373 non-null    int64
 7   Nível de estresse          373 non-null    int64
 8   Categoria BMI              373 non-null    object
 9   Pressão sanguíneaaaa       373 non-null    object
 10  Frequência cardíaca        373 non-null    int64
 11  Passos diários             373 non-null    int64
 12  Distúrbio do sono          373 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.0+ KB

ID                           0
Gênero                       0
Idade                        0
Ocupação                     0
Duração do sono              0
Qualidade do sono            0
Nível de atividade física    0
Nível de estresse            0
Categoria BMI                0
Pressão sanguíneaaaa         0
Frequência cardíaca          0
Passos diários               0
Distúrbio do sono            0
dtype: int64

 1. Ao visualizar a base você percebeu que seria melhor alterar o nome de
 algumas colunas. Mude o ‘ID’ para ‘Identificador’, corrija o nome da
 coluna que indica a pressão sanguínea, mude a coluna ‘Ocupação’ para
 ‘Profissão’, a coluna ‘Categoria BMI’ está em parte em inglês, substitua
 para ‘Categoria IMC’

In [8]:
sono.head()

,ID,Gênero,Idade,Ocupação,Duração do sono,Qualidade do sono,Nível de atividade física,Nível de estresse,Categoria BMI,Pressão sanguíneaaaa,Frequência cardíaca,Passos diários,Distúrbio do sono
0,1,Homem,27,Eng. de Software,6.1,6,42,6,Sobrepeso,126/83,77,4200,Nenhuma
1,2,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
2,3,Homem,28,Médico(a),6.2,6,60,8,Normal,125/80,75,10000,Nenhuma
3,4,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono
4,5,Homem,28,Representante de Vendas,5.9,4,30,8,Obesidade,140/90,85,3000,Apneia do sono

In [9]:
sono.columns

Index(['ID', 'Gênero', 'Idade', 'Ocupação', 'Duração do sono',
       'Qualidade do sono', 'Nível de atividade física', 'Nível de estresse',
       'Categoria BMI', 'Pressão sanguíneaaaa', 'Frequência cardíaca',
       'Passos diários', 'Distúrbio do sono'],
      dtype='object')

In [10]:
renomear = {'ID':'Identificador','Pressão sanguíneaaaa':'Pressão sanguínea', 'Ocupação':'Profissão', 'Categoria BMI':'Categoria IMC'}
sono.rename(columns = renomear,inplace=True)
sono.columns

Index(['Identificador', 'Gênero', 'Idade', 'Profissão', 'Duração do sono',
       'Qualidade do sono', 'Nível de atividade física', 'Nível de estresse',
       'Categoria IMC', 'Pressão sanguínea', 'Frequência cardíaca',
       'Passos diários', 'Distúrbio do sono'],
      dtype='object')

2. Qual é a média, a moda e a mediana de horas de sono para cada uma
 das profissões? [‘mean’, np.median, pd.Series.mod]

In [11]:
#tipo float ['Duração do sono']
sono_por_profissao = sono.groupby('Profissão')['Duração do sono'].agg(['mean', 'median', pd.Series.mode])
sono_por_profissao

                             mean  median        mode
Profissão
Advogado(a)              7.410638     7.3         7.2
Cientista                6.000000     6.0  [5.8, 6.2]
Contador(a)              7.113514     7.2         7.2
Enfermeiro(a)            7.048611     6.5         6.1
Eng. de Software         6.750000     6.8         7.5
Engenheiro(a)            7.987302     8.3         8.4
Gerente                  6.900000     6.9         6.9
Médico(a)                6.970423     7.6         6.0
Pessoa Vendendora        6.403125     6.4         6.5
Professor(a)             6.690000     6.6         6.6
Representante de Vendas  5.900000     5.9         5.9

 3. Das pessoas que atuam com engenharia de software qual a
 porcentagem de obesos?

In [12]:
sono['Profissão'].unique()

array(['Eng. de Software', 'Médico(a)', 'Representante de Vendas',
       'Professor(a)', 'Enfermeiro(a)', 'Engenheiro(a)', 'Contador(a)',
       'Cientista', 'Advogado(a)', 'Pessoa Vendendora', 'Gerente'],
      dtype=object)

In [13]:
#'Categoria IMC' e 'Profissão'
sono['Categoria IMC'] #373 linhas
eng_soft = sono[sono['Profissão'] == 'Eng. de Software'] #pegando todos eng de software
sobrepeso = eng_soft['Categoria IMC'].value_counts(normalize=True).get('Sobrepeso') #de todos os eng, conte na categoria IMC os sobrepeso
sobrepeso *100
#25% de engenheiros de software estão com sobrepeso

25.0

 4. De acordo com os dados, advogar ou ser representante de vendas faz
 você dormir menos? (Use o método ‘isin’, considere a média)

In [14]:
sono.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Identificador              373 non-null    int64
 1   Gênero                     373 non-null    object
 2   Idade                      373 non-null    int64
 3   Profissão                  373 non-null    object
 4   Duração do sono            373 non-null    float64
 5   Qualidade do sono          373 non-null    int64
 6   Nível de atividade física  373 non-null    int64
 7   Nível de estresse          373 non-null    int64
 8   Categoria IMC              373 non-null    object
 9   Pressão sanguínea          373 non-null    object
 10  Frequência cardíaca        373 non-null    int64
 11  Passos diários             373 non-null    int64
 12  Distúrbio do sono          373 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.0+ KB

In [15]:
#ver a media de sono de cada um?

#Advogado(a) e Representante de Vendas
profis = ['Advogado(a)', 'Representante de Vendas']
dados_filtrados = sono[sono['Profissão'].isin(profis)]
media_sono = dados_filtrados.groupby('Profissão')['Duração do sono'].mean()
media_sono
#Representante de vendas dorme menos

Profissão
Advogado(a)                7.410638
Representante de Vendas    5.900000
Name: Duração do sono, dtype: float64

 5. Entre quem fez enfermagem e quem fez medicina, quem tem menos
 horas de sono? (Use o método ‘isin’, considere a média)

In [16]:
#calcula a media geral e compara com a media de enfermeira e medico?

#Enfermeiro(a) e Médico(a)
profis = ['Enfermeiro(a)', 'Médico(a)']
dados_filtrados_2 = sono[sono['Profissão'].isin(profis)]
media_sono_2 = dados_filtrados_2.groupby('Profissão')['Duração do sono'].mean()
media_sono_2
#Quase a mesma coisa, médicos 6.97, enfermeiros 7.04

Profissão
Enfermeiro(a)    7.048611
Médico(a)        6.970423
Name: Duração do sono, dtype: float64

6. Faça um subconjunto com as colunas Identificador, Gênero, Idade,
 Pressão sanguínea e Frequência cardíaca.

In [17]:
new_coluna = sono[['Identificador', 'Gênero', 'Idade', 'Pressão sanguínea', 'Frequência cardíaca']]
new_coluna

     Identificador  Gênero  Idade Pressão sanguínea  Frequência cardíaca
0                1   Homem     27            126/83                   77
1                2   Homem     28            125/80                   75
2                3   Homem     28            125/80                   75
3                4   Homem     28            140/90                   85
4                5   Homem     28            140/90                   85
..             ...     ...    ...               ...                  ...
368            369  Mulher     59            140/95                   68
369            370  Mulher     59            140/95                   68
370            371  Mulher     59            140/95                   68
371            372  Mulher     59            140/95                   68
372            373  Mulher     59            140/95                   68

[373 rows x 5 columns]

 7. Descubra qual a profissão menos frequente no conjunto. (Use
 value_counts)

In [18]:
#sub_raca_nome['Raça'].values_counts(sort=True)
#contar coluna Ocupação
sono['Profissão'].value_counts(sort=True)
#Profissão menos frequente no conjunto é Gerente

Profissão
Enfermeiro(a)              72
Médico(a)                  71
Engenheiro(a)              63
Advogado(a)                47
Professor(a)               40
Contador(a)                37
Pessoa Vendendora          32
Eng. de Software            4
Cientista                   4
Representante de Vendas     2
Gerente                     1
Name: count, dtype: int64

8. Quem tem maior pressão sanguínea média, homens ou mulheres?
 (Considere a média)

In [19]:
# Separando e Convertendo para números
sono[['Diástole', 'Sístole']] = sono['Pressão sanguínea'].str.split('/', expand=True)
sono['Diástole'] = pd.to_numeric(sono['Diástole'])
sono['Sístole'] = pd.to_numeric(sono['Sístole'])
# Calculando as médias das sistole e da diastole por gênero
media_mulherd = sono.groupby('Gênero')['Diástole'].mean().loc['Mulher']
media_mulhers = sono.groupby('Gênero')['Sístole'].mean().loc['Mulher']
media_homems = sono.groupby('Gênero')['Sístole'].mean().loc['Homem']
media_homemd = sono.groupby('Gênero')['Diástole'].mean().loc['Homem']
dic = {'Sístole': [media_mulhers, media_homems],'Diástole': [media_mulherd,media_homemd]}
#transf em dataframe
mediasfinais = pd.DataFrame(dic, index=['Mulheres', 'Homens'])
mediasfinais
#a maior pressão sanguínea média é de mulheres

            Sístole    Diástole
Mulheres  86.271739  130.146739
Homens    83.015873  126.941799

9. É predominante entre os participantes dormir 8 horas por dia
 (considere usar Moda como medida)?

In [20]:
sono['Duração do sono'].mode()
#Não é predominantemente entre os participantes dormir 8 horas por dia

0    7.2
Name: Duração do sono, dtype: float64

10. Pessoas com frequências cardíacas acima de 70 dão mais passos que
 pessoas com frequência cardíaca menor ou igual a 70? (Use a média)

In [21]:
#Passos diários, Frequência cardíaca. #filtrar para acima de 70 a frequencia e media de passos diario dessa faixa
frequ_acima_70 = sono[sono['Frequência cardíaca'] > 70]
mais_70 = frequ_acima_70['Passos diários'].mean()
frequ_abaixo_70 = sono[sono['Frequência cardíaca'] < 70]
menos_70 = frequ_abaixo_70['Passos diários'].mean()
freqs = pd.DataFrame([mais_70,menos_70])
freqs
#as médias foram bem próximas, mas a maior médias foi de pessoas com frequencia menor que 70

             0
0  6472.932331
1  6575.609756